/* Write your CSS here. */
body {
    zoom: 0.5;
}

.pf {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, auto);
}

.wgs {
    display: inline-block;
    position: relative;
    height: 241px;
    width: 320px;
    overflow: hidden;
}

.wgs__mole-head {
    position: absolute;
    width: 188px;
    height: 178px;
    left: 55px;
    transition: margin-top 0.25s;
}

.wgs__mole-head--hidden {
    margin-top: 241px;
}

.wgs__dirt-pile {
    position: absolute;
    width: 320px;
    height: 110px;
    bottom: 0;
}
